body {
    background: #eeeeee;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    padding: 20px 0;
}

.form_bloco {
    padding: 10px;
}

.form_enviar {
    background-color: #3359ec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}